<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/masterlayout.html}">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<th:block layout:fragment="content">
    <div>
        <h1>Accounts List</h1>


        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Account Number</th>
                <th scope="col">Account Name</th>
                <th scope="col">Balance</th>
                <th scope="col">Account Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account, iterStat : ${accounts}">
                <th scope="row" th:text="${iterStat.count}"></th>
                <td th:text="${account.accountNumber}"></td>
                <td th:text="${account.getCustomer().getCustomerFullName()}"></td>
                <td th:text="${account.balance}"></td>
                <td th:text="${account.accountType.getAccountTypeName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
        <div style="width: auto">
        <p></p>
        <h3>Liquidity position of the Bank</h3>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Account Name</th>
                <th scope="col">Net Value</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="zinash, iterStat : ${summary}">
                <th scope="row" th:text="${iterStat.count}"></th>
                <td th:text="${zinash.getKey()}"></td>
                <td th:text="${zinash.getValue()}"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

</th:block>
</body>
</html>