<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/masterlayout.html}">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<th:block layout:fragment="content">
<div >
    <h1>List of current Customers with the Bank</h1>

    <table class="table table-striped" style="width: auto">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Number</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Number of Accounts</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer, iterStat : ${customers}">
            <th scope="row" th:text="${iterStat.count}"></th>
            <td th:text="${customer.customerNumber}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.middleName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.emailAddress}"></td>
            <td th:text="${customer.contactPhoneNumber}"></td>
            <td th:text="${customer.dateOfBirth}"></td>
            <td th:text="${customer.getAccountList().size()}"></td>

        </tr>
        </tbody>
    </table>
</div>
</th:block>
</body>
</html>